/* Style général de la page */
.article-page {
  /* font-family: Arial, sans-serif; */
  margin: 10px;
  padding: 6px;
}

/* Les styles existants */
.title {
  text-align: center;
  color: blue;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
}
.article-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.nart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  background-color: #414bdb;
  color: #e1e4f5;
  padding: 5px 10px;
  border-radius: 20px;
  margin: auto;
}
.nart-container p {
  font-weight: bold;
  text-transform: uppercase;
}
.nart {
  font-size: 20px;
  letter-spacing: 2px;
  color: #dfd7f1;
}
.error {
  color: #b00020;
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
}
.stock-info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}
.info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(90, 19, 221, 0.295);
  margin: 10px 0;
  border-radius: 8px;
  color: #3353ad;
  font-weight: bolder;
  text-transform: uppercase;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.info h3 {
  margin: 0;
  display: flex;
  font-size: 14px;
}
.info span {
  margin: 0;
  display: flex;
  font-size: 24px;
}
.stock-rupture {
  color: red;
}
.stock-available {
  color: green;
}
.article-info {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.field-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
}
.field-label {
  font-weight: bold;
  color: #555;
  fontsize: 6px;
}
.field-value {
  color: #666;
  fontweight: bold;
}
.rescan-button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}
.rescan-button:hover {
  background-color: #45a049;
}

/* Responsive stock container */
.stock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .stock-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.deprec-warning {
  color: #ecccd2;
  background-color: #991f2c;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
}

.promo-active {
  color: #c4f0c6;
  font-weight: bold;
  background-color: #077907;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.ancien-prix {
  text-decoration: line-through;
  text-decoration-color: #050505;
}

.gis {
  font-weight: bolder;
  color: #3353ad;
  font-size: 20px;
}

.article-image {
  display: block;
  margin: 0px auto;
  height: 130px;
  max-width: 100%;
}
